#section-1 {
    height: 120vh;
    background-image: url("/img/section-bg/3.jpg");
    background-size: cover;
}

@media (max-width: 399.98px) {
    #section-1 {
        height: 140vh;
    }
}

.white {
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
}
