#section-1 {
    height: 100vh;
    background-image: url("/img/about/bg.jpg");
    background-size: cover;
}

.white {
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
}
