.serif {
    font-family: "Playfair Display", serif;
}

.sans-serif {
    font-family: "Montserrat", sans-serif;
}

.underline {
    text-decoration: underline;
}

.title-big {
    font-size: 140px;
    font-weight: 800;
}

.title {
    font-size: 100px;
    font-weight: 800;
}

.title-medium {
    font-size: 60px;
    font-weight: 800;
}

.title-small {
    font-size: 40px;
}

.title-very-small {
    font-size: 24px;
}

.ticket-title {
    font-size: 16px;
    letter-spacing: 8px;
}

.bold {
    font-weight: 700;
}

.lh-10 {
    line-height: 5;
}

.ls-15 {
    letter-spacing: 15px;
}

.white {
    color: white;
}
