html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

#section-1 {
    background-size: cover;
}

.white {
    color: white;
}

#klifonaraPresents {
    margin-top: 30px;
}

.pt-10 {
    padding-top: 35px;
}

.pt-20 {
    padding-top: 150px;
}

@media (max-width: 1199.98px) {
    .title-small {
        font-size: 35px;
    }

    .caption {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .title-big {
        font-size: 120px;
    }
}

@media (max-width: 767.98px) {
    .title-big {
        font-size: 80px;
    }

    #klifonaraPresents {
        font-size: 18px;
    }

    #theLanguage {
        font-size: 15px;
    }

    .ls-15 {
        letter-spacing: 10px;
    }

    #expressionsCaption {
        font-size: 16px;
    }
}

@media (max-width: 575.98px) {
    .title-big {
        font-size: 70px;
    }

    #expressionsCaption {
        font-size: 14px;
    }

    .end {
        font-size: 14px;
    }
}

@media (max-width: 419.98px) {
    .title-big {
        font-size: 60px;
    }

    #klifonaraPresents {
        font-size: 14px;
    }

    #theLanguage {
        font-size: 12px;
    }

    .ls-15 {
        letter-spacing: 5px;
    }

    #expressionsCaption {
        font-size: 12px;
    }

    .caption {
        font-size: 13px;
    }

    .end {
        font-size: 14px;
    }
}
